################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ElleCuisine/bin/Debug/net10.0-windows
/ElleCuisine/obj
/.tmp.driveupload
/.vs
